@charset "utf-8";

:root {
  --NanumSquareNeo: 'NanumSquareNeo', sans-serif;
  --cFont1: #222;
}

/***************************************************************************************
	Base(reset) style
***************************************************************************************/
* {box-sizing:border-box;}
html {height:100%;}
body {height:100%;} 
html, body, blockquote, caption, dd, div, dl, dt, fieldset, form, frame, h1, h2, h3, h4, h5, h6, hr,
iframe, input, legend, li, object, ol, p, pre, q, select, table, textarea, ul, tr, td{ margin:0;padding:0}
ul, ol, li{list-style:none}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;margin:0;padding:0;}

body {font-size:16px;line-height:26px;font-weight:400;color:var(--cFont1);font-family:var(--NanumSquareNeo);-webkit-text-size-adjust: none;}

pre, textarea, select {font-family:var(--NanumSquareNeo);} 

fieldset {display:block;margin:0;padding:0;border:0;}
legend {position:absolute;visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
form {margin:0;padding:0;}

a, a:link, a:visited, a:active, a:hover {text-decoration:none;color:var(--cFont1);}

input, button {padding:0;margin:0;border:0;color:var(--cFont1);font-size:1.4rem;vertical-align:middle;background:none;font-family:var(--NanumSquareNeo);-webkit-appearance:none;}
button, label {cursor:pointer;}

select::-ms-expand {display:none;}
select {appearance:none;-webkit-appearance:none;border:none;background-repeat:no-repeat;background-position:center right;}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {padding:0;margin:0;border:none;background:transparent;}

input[type="radio"], input[type="checkbox"] {appearance:none;-webkit-appearance:none;}

input::placeholder {color:#777;}

img {border:0;vertical-align:middle;}

hr {display:none;}

em, address {font-style:normal;}

h1, h2, h3, h4, h5, h6, strong {font-weight:500;}

table {width:100%;border-collapse:collapse;}
caption {overflow:hidden;margin:0;padding:0;width:0;height:0;font-size:0;line-height:0;}

noscript {position:absolute;z-index:10;background:#efefef;}
noscript p {margin:0;}

.blind {position:absolute;overflow:hidden;width:0;height:0;padding:0 !important;margin:0 !important;font-size:0.16px;line-height:0;color:transparent;}

