@charset "utf-8";

/* 웹폰트 추가 NanumSquareNeo */
@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NanumSquareNeo/woff2/NanumSquareNeoTTF-aLt.woff2) format('woff2'),
      url(../fonts/NanumSquareNeo/woff/NanumSquareNeoTTF-aLt.woff) format('woff');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumSquareNeo/woff2/NanumSquareNeoTTF-bRg.woff2) format('woff2'),
        url(../fonts/NanumSquareNeo/woff/NanumSquareNeoTTF-bRg.woff) format('woff');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NanumSquareNeo/woff2/NanumSquareNeoTTF-cBd.woff2) format('woff2'),
        url(../fonts/NanumSquareNeo/woff/NanumSquareNeoTTF-cBd.woff) format('woff');
}
@font-face {
	font-family: 'NanumSquareNeo';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/NanumSquareNeo/woff2/NanumSquareNeoTTF-dEb.woff2) format('woff2'),
				url(../fonts/NanumSquareNeo/woff/NanumSquareNeoTTF-dEb.woff) format('woff');
}
@font-face {
	font-family: 'NanumSquareNeo';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/NanumSquareNeo/woff2/NanumSquareNeoTTF-eHv.woff2) format('woff2'),
				url(../fonts/NanumSquareNeo/woff/NanumSquareNeoTTF-eHv.woff) format('woff');
}